{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <div>
        <div class="text-center">
            <img class="logo-home" src="/images/logo_noir.png" alt="Logo de YWYmobilier">
            <p class="text-accueil">
                Le but du projet <b>YWYmobilier</b> est de faciliter la vie des étudiants à la recherche de logement.
                Notre
                objectif est de regrouper de nombreuses demandes de particuliers cherchant des locataires dans Lyon.
                Vous n'aurez plus qu'à naviguer dans l'onglet <a href="{{ path('Offres') }}">offres</a>, de
                récupérer les informations qui vous
                semblent importantes, de noter le numéro de téléphone du particulier et le tour est joué !
            </p>
        </div>

        <div class="underline"></div>
        <br>
        <div class="home-last-offer ">
            <h2 class="home-last-offer-title">Dernières annonces</h2>
            <div class="row flex">
                <div class="row row-cols-1 row-cols-md-3">
                    {% for property in properties %}
                        <div class="col mb-3">
                            <div class="card">
                                {% if property.firstPicture %}
                                    <img src="{{ vich_uploader_asset(property.firstPicture, 'imageFile') }}" alt="card-img-top" style="width: 350px; height: 200px">
                                {% else %}
                                    <img src="/images/empty.jpg" alt="card-img-top" style="width: 350px; height: 200px">

                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a
                                                href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
                                            {{ property.title }}</a></h5>
                                    <p class="card-text"><b>{{ property.price }}€</b></p>
                                    <small class="text-muted">{{ property.city }} ({{ property.cp }})</small></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}