{% extends 'base.html.twig' %}

{% block title %}Nos offres!{% endblock %}

{% block body %}
    <div id="app">
        <h1 class="title-base marginTop40">Voici les appartements disponibles</h1>
        {#        <input v-model="searchText" class="form-control mr-sm-5" type=" search"#}
        {#               placeholder="Rechercher l'appartement de vos rêves"#}
        {#               aria-label="">#}
        {#        <br>#}

        <!-- <div {#v-for="property in filteredProperty" #} class="card "> -->
        <div class="row">
            {% for property in properties %}
                <div class="col-sm-4">
                    <a href="/offres/{{ property.slug }}.{{ property.id }}">
                        <div class="card mb-3">
                            {% for picture in property.pictures %}
                                {% if property.pictures is empty %}
                                    <img src="{{ '/images/properties/empty.jpg'}}" alt="card-img-top" style="width: 100%; height:auto;">
                                {% else %}
                                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="card-img-top">
                                {% endif %}

                            {% endfor%}
                            {#                            <img src="/images/empty.jpg" alt="card-img-top">#}

                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ property.title }}
                                </h5>
                                <p class="card-text"><b>{{ property.price }}€</b></p>
                                <small class="text-muted">{{ property.city }} ({{ property.cp }})</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.js"></script>


{% endblock %}