{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}


{% block body %}
       <h1>Bonjour {{ app.user.username }}</h1>
    <div>
        <h1>Votre profil</h1>
        <p>Ces données sont accessible que pour vous, elles sont aussi protégées</p>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Vos informations</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Numéro</th>
            <th scope="col">Adresse mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ app.user.id }}</th>
            <td>{{ app.user.firstName }}</td>
            <td>{{ app.user.lastName }}</td>
            <td>{{ app.user.num }}</td>
            <td>{{ app.user.email }}</td>
        </tr>
        </tbody>
    </table>

        <a href="{{ path('logout') }}" class="btn btn-danger">Se déconnecter</a>
    </div>
{% endblock %}